<%- include("parts/header") %>
<body>
  <div class="container">
    <div class="card mb-3">
      <img height="200"  src="https://images.unsplash.com/photo-1626702878460-a3cb04027d4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" class="card-img-top" alt="...">
      <div class="card-body d-flex">
        <img style="top: -500px;" src="/assets/image2.png" class="img-thumbnail" alt="...">
        <p class="card-text">Eduardo Falcão</p>
        <p class="card-text">Professor de Projeto e Engenharia de Software</p>
      </div>
    </div>
  </div>
  <a href="/class" class="p-3">
    <button type="button" class="btn btn-link">
      Sala Virtual
    </button>
  </a>
</body>
</html>