<%- include("parts/header") %>
<body>
  <div class="container">
    <div class="card mb-3">
      <img height="200"  src="https://source.unsplash.com/random" class="card-img-top" alt="Imagem de capa no perfil do Tutor">
      <div class="card-body card-profile d-flex">
        <img src="/assets/image2.png" class="img-thumbnail" alt="Foto de perfil">
        <div class="mx-3">
          <p class="card-text mb-0">Eduardo Falcão</p>
          <p class="card-text">Professor de Projeto e Engenharia de Software</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="card text-white card-profile mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card text-white card-profile mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card text-white card-profile mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="card card-profile">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <a href="/class" class="p-3">
    <button type="button" class="btn btn-link">
      Sala Virtual
    </button>
  </a>
</body>
</html>