<%- include("parts/header") %>
<body>
  <div class="container">
    <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
      height: 300px;
    "
  >
      <div class="info" class="d-flex justify-content-start">
        <img src="/assets/image2.png"/>
      </div>
    </div>
    <div class="container container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="competencias">

      </div>
    </div>
  </div>
  <a href="/class" class="p-3">
    <button type="button" class="btn btn-link">
      Sala Virtual
    </button>
  </a>
</body>
</html>