<%- include("parts/header") %>
<body>
  <h1 class="h1">Perfil do Tutor</h1>
  <a href="/class" class="p-3">
    <button type="button" class="btn btn-link">
      Sala Virtual
    </button>
  </a>
</body>
</html>