<!DOCTYPE html>
<html lang="pt-br">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TutOnline</title>
  <base href="/">
  <link href="/styles/style.css" rel="stylesheet" type="text/css">
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #415A77;">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-brand" href="/">
            <img src="/assets/TutOnline.png" width="30" height="30" alt="logo"/>
          </a>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fa fa-fw fa-search" style="color: #ffff"></i>
              Buscar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/class">
              <i class="fa fa-pencil-square" style="color: #ffff"></i>
              Salas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="fa fa-user-circle" style="color: #ffff"></i>
              Perfil
            </a>
          </li>
          </li>
        </ul>
        <div class="d-flex">
          <img src="/assets/image2.png" width="50" height="50" alt="foto">
          <a class="nav-link" href="/">
            <i class="fa fa-bars" style="color: #ffff"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
